.header{
    height: 84px;
    background-color: #fff;

}

.head{
    display: flex;
    justify-content: space-between;
    width: 1250px;
    margin: auto 0;
}

.pic1
{
    display: inline-block;
    padding-top: 20px;
}

.d1
{
    display: inline-block;
    width: 100px;
    vertical-align: top;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border-top: 4px solid transparent;
    /* margin-top: -4px; */
}

.d1:hover{
    color: coral;
    border-top: coral solid 4px;
}

 .d2{
    display: inline-block;
    width: 100px;
    vertical-align: top;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border-top: 4px solid transparent;
    /* margin-top: -4px; */
}

.d2:hover{
    color: coral;
    border-top: coral solid 4px;
}

.q1{
    display: flex;
    justify-content: space-evenly;
    float: left;
    width: 300px;
    margin-left: 150px;
}

.search{
    background-color: red;
    height: 30px;
    display: inline-block;
    width: 240px;
    padding-top: 4px;
    padding-left: 4px;
    overflow: hidden;
    margin-top: 25px;
}

.d3
{
    width: 200px;
    vertical-align: top;
    height: 80px;
    text-align: center;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;

}

.d3 input{
    height: 40px; 
    width: 100px;
    margin-top: 10px; 
    background-color: rgb(88, 223, 182);
    border:none;
    color: seashell;
}

.q2{
    float: right;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    margin-right: 140px;
}

.d4{
    height: 350px;
    width: 1000px;
    margin: 0 auto;
}

.d5{
    background-color: #fff;
    height: 450px;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.d6{
    background-color: #fff;
    height: 450px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 10px;
}

.d7{
    background-color: #fff;
    height: 400px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 10px;
}

.footer{
    background-color: rgb(49, 48, 48);
    margin-top: 100px;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer img{
    margin: 0 auto;
}

.footer p{
    color: rgb(177, 177, 177);
    margin: 0 auto;
}


.title{
    border: 3px rgb(88, 223, 182) solid;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 40px;
    color: rgb(88, 223, 182);
    margin-top: 10px;
}

.content{
    list-style-position: outside;
    height: 130px;
    width: 200px;
    border-right: thistle solid 1px;
    margin-top: 20px;
    font-size: 15px;
    color: rgb(133, 133, 133);
}

.cou :hover {
    color: coral;
}

.cou:hover > span {
    color: coral
}

.word{
    color: rgb(177, 177, 177);
    font-size: 13px;
}

.plus{
    border: 2px rgb(88, 223, 182) solid;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    color: rgb(88, 223, 182);
    margin-top: 25px;
}

.part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.title2{
    width: 100%;
    height: 70px;
    text-align: center;
    padding-top: 20px;
}

.sec{
    font-size: 7px;
    color: rgb(88, 223, 182);
}

.p1{
    text-align: center;
    vertical-align: middle;
    width: 140px;
    height: 120px;
    border: rgb(88, 223, 182) solid 4px;
    display: table-cell;
}

.p1:hover{
    background-color: rgb(88, 223, 182);
    color: seashell;
}

.num{
    font-size: 50px;
    color: red;
    text-align: center;
    vertical-align: middle;
    width: 148px;
    height: 120px;
    text-decoration: underline;
    display: table-cell;
}



.content1{
    display: table;
    width: 800px;
    margin: auto;
}

.content2{
    display: table;
    width: 800px;
    margin: auto;
}

.sub{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.pic2{
    height: 60px;
    width: 180px;
}

.book:hover{
    background-color: red;
    color: #fff;
}

.sub img{
    display: none;
}

.sub:hover img{
    display: block;
}

.book{
    text-align: center;
    padding-top: 35px;
    padding-bottom: 40px;
    width: 180px;
    background-color: tomato;
    color: #fff;
    display: inline-block;
    font-size: 15px;
}

.content3{
    display: flex;
    flex-direction: row;
    justify-content: center;
}